In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [28]:
books = pd.read_csv(r"C:\Users\pc\Downloads\books.csv\books.csv", sep=";",on_bad_lines='skip',  encoding='latin-1')

C:\Users\pc\AppData\Local\Temp\ipykernel_2264\3438002494.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(r"C:\Users\pc\Downloads\books.csv\books.csv", sep=";",on_bad_lines='skip',  encoding='latin-1')

In [30]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [32]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [34]:
books=books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]

In [36]:
books.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial

In [42]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)

In [44]:
books.head()

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [46]:
users=pd.read_csv(r"C:\Users\pc\Downloads\users.csv.zip", sep=";",on_bad_lines='skip',  encoding='latin-1')

In [48]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [52]:
users.isna()

        User-ID  Location    Age
0         False     False   True
1         False     False  False
2         False     False   True
3         False     False  False
4         False     False   True
...         ...       ...    ...
278853    False     False   True
278854    False     False  False
278855    False     False   True
278856    False     False   True
278857    False     False   True

[278858 rows x 3 columns]

In [62]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)

In [64]:
ratings=pd.read_csv(r"C:\Users\pc\Downloads\ratings.csv.zip", sep=";",on_bad_lines='skip',  encoding='latin-1')

In [66]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [68]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)

In [70]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [72]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   278858 non-null  int64
 1   location  278858 non-null  object
 2   age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [74]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ISBN       271360 non-null  object
 1   title      271360 non-null  object
 2   author     271358 non-null  object
 3   year       271360 non-null  object
 4   publisher  271358 non-null  object
dtypes: object(5)
memory usage: 10.4+ MB

In [76]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1149780 non-null  int64
 1   ISBN     1149780 non-null  object
 2   rating   1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [78]:
books.describe()

              ISBN           title           author    year  publisher
count       271360          271360           271358  271360     271358
unique      271360          242135           102022     202      16807
top     0195153448  Selected Poems  Agatha Christie    2002  Harlequin
freq             1              27              632   13903       7535

In [80]:
users.describe()

            user_id            age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [82]:
x=ratings['user_id'].value_counts()>200

In [84]:
y=x[x].index

In [88]:
ratings=ratings[ratings['user_id'].isin(y)]

In [94]:
ratings.shape

(526356, 3)

In [96]:
ratings_books=ratings.merge(books,on='ISBN')

In [100]:
ratings_books.shape

(487671, 7)

In [110]:
number=ratings_books.groupby('title')['rating'].count().reset_index()

In [128]:
number.rename(columns={'no_of_rating':'no_of_ratings'},inplace=True)

In [130]:
number

                                                    title  no_of_ratings
0        A Light in the Storm: The Civil War Diary of ...              2
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Beyond IBM: Leadership Marketing and Finance ...              1
4        Clifford Visita El Hospital (Clifford El Gran...              1
...                                                   ...            ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...              3
160265                                      Ã?Â?lpiraten.              1
160266                     Ã?Â?rger mit Produkt X. Roman.              1
160267                              Ã?Â?stlich der Berge.              1
160268                                  Ã?Â?thique en toc              1

[160269 rows x 2 columns]

In [134]:
final=ratings_books.merge(number,on="title")

In [136]:
final

,user_id,ISBN,rating,title,author,year,publisher,no_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,1
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,13
...,...,...,...,...,...,...,...,...
487666,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),1
487667,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",1
487668,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,1
487669,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),1
487670,275970,9626340762,8,Northanger Abbey (Classic Literature with Clas...,Jane Austen,1996,Naxos Audiobooks Ltd.,2

final['no_of_ratings']>=50

In [140]:
final=final[final['no_of_ratings']>=50]

In [142]:
final.shape

(61853, 8)

In [144]:
final.drop_duplicates(['user_id','title'],inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_2264\2675254170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop_duplicates(['user_id','title'],inplace=True)

In [146]:
final.shape

(59850, 8)

In [148]:
pivot=final.pivot_table(columns='user_id',index='title',values='rating')

In [150]:
pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
pivot.fillna(0,inplace=True)

In [154]:
pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [156]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(pivot)

In [158]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [160]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [162]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [174]:
distances,suggestions=model.n_neighbors(pivot.iloc[237,:].values.reshape(1,-1),num_neighbors=6)

TypeError: 'int' object is not callable

In [172]:
print(model.n_neighbors)

5

In [212]:
num_neighbors = 6  # or any value you intended
distances, suggestions = model.kneighbors(pivot.iloc[296, :].values.reshape(1, -1), n_neighbors=num_neighbors)

In [214]:
distances

array([[ 0.        , 20.29778313, 21.04756518, 21.58703314, 21.86321111,
        22.09072203]])

In [216]:
suggestions

array([[296, 372, 393, 320, 184, 485]], dtype=int64)

In [218]:
for i in range(len(suggestions)):
    print(pivot.index[suggestions[i]])

Index(['Journey', 'No Safe Place', 'Pleading Guilty', 'Long After Midnight',
       'Exclusive', 'Table For Two'],
      dtype='object', name='title')

In [222]:
np.where(pivot.index=="Animal Farm")[0][0]

54

In [246]:
def rec(name):
    id=np.where(pivot.index==name)[0][0]
    distances,suggestions=model.kneighbors(pivot.iloc[id,:].values.reshape(1,-1),n_neighbors=6)

for i in range(len(suggestions)):
    if i!=0:
        print(pivot.index[suggestions[i]])

In [250]:
rec("Animal Farm")

In [252]:
def rec(name):
    # Find the index of the given name in the pivot table
    id = np.where(pivot.index == name)[0][0]
    
    # Get the distances and indices of the nearest neighbors
    distances, suggestions = model.kneighbors(pivot.iloc[id, :].values.reshape(1, -1), n_neighbors=6)
    
    # Loop through the suggestions and print the index, skipping the first one (itself)
    for i in range(1, len(suggestions[0])):  # Start at 1 to skip the original item
        print(pivot.index[suggestions[0][i]])

# Call the function with an example
rec("Animal Farm")

Exclusive
Jacob Have I Loved
Second Nature
Pleading Guilty
No Safe Place